/* Start Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800&display=swap');
:root {
    --main-color: #5FAD51;
    --secondary-color: #242a37;
    --main-font-size: 16px;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Tajawal', sans-serif;
}
ul {
    padding: 0;
    list-style: none;
}
/* End Global Rules */

/* Start Header */
header {
    width: 100%;
    height: auto;
    background-image: linear-gradient(#FFFFFF33, #5FAD511A);
}

/* Header Navbar */
nav {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    overflow: hidden;
    background-color: transparent;
}
nav .navbar-brand img {
    margin-left: 40px;
}
nav .collapse ul a {
    font-size: var(--main-font-size);
    color: #242a37;
    transition: .3s;;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
nav .collapse ul a.active,
nav .collapse ul a:hover {
    color: var(--main-color);
}
nav .nav-left {
    margin-top: 16px;
}
nav .nav-left ul li {
    display: inline-block;
}
nav .nav-left ul li:first-child a {
    margin-left: 40px;
}
nav .nav-left ul li a {
    font-size: var(--main-font-size);
    text-decoration: none;
}
nav .nav-left ul li .btn {
    display: block;
    width: 146px;
    height: 48px;
    line-height: 40px;
    text-align: center;
    margin-left: 20px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
nav .nav-left ul li .b1 {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}
nav .nav-left ul li .b2 {
    background-color: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
}
nav .navbar-toggler {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}
nav .navbar-toggler svg {
    color: #fff;
}

/* Header Header-Wrap */
header .header-wrap {
    position: relative;
}
header .header-wrap .text-right {
    margin-top: 70px;
    text-align: right;
}
header .header-wrap .text-right h4 {
    color: var(--main-color);
    font-size: 20px;
    margin: 24px 30px 24px 0;
    position: relative;
}
header .header-wrap .text-right h4::before {
    content: "";
    width: 20px;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
header .header-wrap .text-right h2 {
    font-size: 48px;
    color: #242A37;
    line-height: 80px;
    width: 509px;
}
@media only screen and (max-width: 767px) {
    header .header-wrap .text-right h2 {
        width: 100%;
        max-width: 100%;
        font-size: 24px;
        line-height: 40px;
    }
}
header .header-wrap .text-right p {
    font-size: 20px;
    margin-top: 30px;
    color: #242A37;
}
header .header-wrap .text-right .buttons {
    margin-top: 30px;
    display: flex;
}
header .header-wrap .text-right .b1 {
    width: 163px;
    height: 48px;
    text-align: center;
    background-color: #094E81;
    border: 1px solid #094E81;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    transition: .3s;;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
header .header-wrap .text-right .b1:hover {
    background-color: transparent;
}
header .header-wrap .text-right .b1 a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
header .header-wrap .text-right .b1:hover a {
    color: #094E81;
}
header .header-wrap .text-right .b1 .arrow-left {
    color: #fff;
    margin-right: 6px;
}
header .header-wrap .text-right .b1:hover .arrow-left {
    color: #094E81;
}
header .header-wrap .text-right .icon {
    width: 48px;
    height: 48px;
    line-height: 52px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--main-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 30px;
}
header .header-wrap .text-right .icon .play {
    color: #fff;
}
header .header-wrap .text-right .b2 {
    background-color: transparent;
    border: none;
    margin-right: 12px;
    padding-top: 10px;
    text-align: right;
}
header .header-wrap .text-right .b2 a {
    text-decoration: none;
    color: #094E81;
    font-size: 20px;
}
header .header-wrap .img-box {
    text-align: center;
    height: auto;
    overflow: hidden;
    margin-top: 60px;
}
header .header-wrap .img-box .header-img {
    max-width: 100%;
    text-align: center;
}
header .header-wrap .img-box span {
    position: absolute;
    z-index: 999;
}
header .header-wrap .img-box span.i3 img,
header .header-wrap .img-box span.i5 img {
    width: 80px;
}
header .header-wrap .img-box span.i1 {
    top: 40%;
    left: 50%;
    animation: move .5s ease-in-out infinite alternate;
    -webkit-animation: move 1.5s ease-in-out infinite alternate;
}
header .header-wrap .img-box span.i2 {
    top: 30%;;
    right: 30%;
    animation: move .5s ease-in-out infinite alternate;
    -webkit-animation: move 1.5s ease-in-out .5s infinite alternate;
}
header .header-wrap .img-box span.i3 {
    top: 60%;
    left: 5%;
    animation: move .5s ease-in-out infinite alternate;
    -webkit-animation: move 1.5s ease-in-out 1s infinite alternate;
} 
header .header-wrap .img-box span.i4 {
    top: 20%;
    left: 10%;
    animation: move .5s ease-in-out infinite alternate;
    -webkit-animation: move 1.5s ease-in-out 1.5s infinite alternate;
} 
header .header-wrap .img-box span.i5 {
    top: 70%;
    left: 60%;
    animation: move .5s ease-in-out infinite alternate;
    -webkit-animation: move 1.5s ease-in-out 2s infinite alternate;
} 
@keyframes move {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    100% {
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
}
}
/* End Header */

/* 11:00 */

